<h1 align='center'>Implante modelos de ML com FastAPI, Docker e Heroku</h1>

Data Scientist Jr.: Karina Gonçalves soares

Link de estudo:

* [Deploy ML models with FastAPI, Docker, and Heroku | Tutorial]("https://www.youtube.com/watch?v=h5wLuVDr0oc&ab_channel=AssemblyAI")

In [1]:
import pandas as pd
import numpy as np
import re # expressões regulares
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

import warnings
warnings.simplefilter("ignore")

In [3]:
# Carregando o conjuntu de dados
data= pd.read_csv("/home/karinag/karina_python/github/ML_fastapi_docker_heroku/Language Detection.csv")

In [7]:
data.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [6]:
data.sample(5)

                                                   Text  Language
6242  Существует много пародий на открытость Википед...   Russian
4616  ik kan zeggen wees voorzichtig, wat betekent: ...     Dutch
9184  الشخص غارق في الغرق يعني الغرق أو الفيضان ولكن...    Arabic
5123  En su opinión, «la enciclopedia está “controla...   Spanish
8681  vad har du gjort för att höja dem tidigare om ...  Sweedish

### <font color="pink">Pré processamento dos dados</font>

In [8]:
# Determinando X e y

X = data["Text"]
y = data["Language"]

In [ ]:
# Codificando rótulos categóricos para valores numéricos

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y) # Ajustando os dados

In [ ]:
# Atribuindo um número para cada um dos rótulos
le.classes_

In [1]:
data_list=[]
for text in X:
    text = re.sub(r'[!@#$(),\n"%^*?\:;~`0-9]', ' ', text)